[Unit]
Description=Kinescope.io - Service.
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=kinescope
Group=kinescope
EnvironmentFile=/etc/kinescope-service/environment
ExecStart=/usr/bin/kinescope-service
ExecReload=/bin/kill -s SIGTERM $MAINPID
ExecStop=/bin/kill   -s SIGINT  $MAINPID

Restart=always
RestartSec=5

LimitNOFILE=1048576

RuntimeDirectory=kinescope-service
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target